{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <h1>{{group.title}}</h1>
        <p>
          {{ group.description }}
        </p>
      {% for post in posts %}
        <article>
        <ul>
          <li>
            Автор: {{ post.author }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"j F Y" }}
          </li>
        </ul>
        <p>
          {{ post.text }}
        </p>
      </article>
        <hr>
      <!-- под последним постом нет линии -->
      {% endfor %}
    </div>
{% endblock %}
